
%html
  %head
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width" />
    %title Invibe
    
    <link rel="stylesheet" href="../stylesheets/foundation.css">
    <link rel="stylesheet" href="../stylesheets/app.css">

    <script src="../javascripts/modernizr.foundation.js"></script>

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    
    <link href='http://fonts.googleapis.com/css?family=Lato:100,700' rel='stylesheet' type='text/css'>	
    <link href='http://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet' type='text/css'>
    
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35676190-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body

    #wrapper.expand.fondo
      #header.expand.pattern-title
        .expand.pattern-title.background-pattern
          .row
            .twelve.mobile-four.columns
              %img.logo-header{:src=>"../images/logo.png"}

      #content.row 
        .invitation-localizer.box
          .box-content
            .qr-container
              #qr-code
          .box-title-bottom.is-center
            .main-text #{code}
            .detail-text Show this code to the bartender to get your gift

    
      #footer
        .footer-nav
          %ul
            %li
              %a.footer-link{:href=> "../contact.html"} Contact
            %li
              %a.footer-link{:href=> "../terms_of_service.html"} Terms of Service
            %li
              %a.footer-link{:href=> "../privacy.html"} Privacy

          


    <script src="../javascripts/foundation.min.js"></script>
    <script src="../javascripts/app.js"></script>
    <script src="../javascripts/qrcode.js"></script>
    <script src="../javascripts/jquery.qrcode.js"></script>
    <script src="../javascripts/views/code.js"></script>


    :javascript
      $('#content').css('min-height', $(window).height() - $('#header').height() - $('#footer').height()  );


    :javascript
      App.insertQR("#{code}");
