/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

* {
	margin: 0;
}

html, body {
	height: 100%;
}

body#landing {
	background: #000 url('../images/yoin/bg.jpg');
}

body#inner {
	
	
	background: #dcdcdc url('../images/yoin/innerbg.jpg') no-repeat left top;

	/*
	background-color: #DCDCDC;
	background-image: url('../images/yoin/innerbg.jpg'), -moz-linear-gradient(top, transparent 0%, transparent 10%, rgba(0,0,0,0.05) 65%, rgba(0,0,0,0.1) 100%); 
	background-image: url('../images/yoin/innerbg.jpg'),  -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(10%,transparent), color-stop(65%,rgba(0,0,0,0.05)), color-stop(100%,rgba(0,0,0,0.1)));  
	background-repeat: no-repeat;
	background-position: left top; 
	*/

}


a, a:hover, a:link, a:visited {
	color: #f2f2f2;
	font-weight: bold; 
	text-shadow: 0 -1px 0px rgba(0,0,0,0.4);
	
}
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px;
}

#header {


	background-color: #fd6d35;
	background-image: url(../images/yoin/BG2.png), -moz-linear-gradient(top, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.3) 60%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background-image: url(../images/yoin/BG2.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.6)), color-stop(60%,rgba(255,255,255,0.3)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */

	border-top: 1px solid rgba(255, 255, 255, 0.7);
	border-bottom: 1px solid #642e19;

	-webkit-box-shadow: 0 -1px 30px 0 rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 -1px 30px 0 rgba(0, 0, 0, 0.8);
	box-shadow: 0 -1px 30px 0 rgba(0, 0, 0, 0.8);
}

#header-content {
	height: 40px;
}

#brand {
	padding-top: 6px;
	padding-bottom: 5px;
}

.menu {
	font-size: 18px;
}

.menu-item {

	text-align: center;
	//border-left: 1px solid #ce592b;
	line-height: 40px;

	-webkit-box-shadow: 1px 0px 0px 0 #CE592B, 2px 0px 0px 0 rgba(255, 255, 255, 0.4);
	-moz-box-shadow:1px 0px 0px 0 #CE592B, 2px 0px 0px 0 rgba(255, 255, 255, 0.4);
	box-shadow: 1px 0px 0px 0 #CE592B, 2px 0px 0px 0 rgba(255, 255, 255, 0.4);

}

.menu-item:first-child {

	-webkit-box-shadow:  -1px 0px 0px 0 rgba(255, 255, 255, 0.65), -2px 0px 0px 0 #CE592B, 1px 0px 0px 0 #CE592B, 2px 0px 0px 0 rgba(255, 255, 255, 0.4) ;
	-moz-box-shadow:  -1px 0px 0px 0 rgba(255, 255, 255, 0.65), -2px 0px 0px 0 #CE592B, 1px 0px 0px 0 #CE592B, 2px 0px 0px 0 rgba(255, 255, 255, 0.4);
	box-shadow:  -1px 0px 0px 0 rgba(255, 255, 255, 0.65), -2px 0px 0px 0 #CE592B, 1px 0px 0px 0 #CE592B, 2px 0px 0px 0 rgba(255, 255, 255, 0.4);
}

#content {
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

#logo-vid-content {
	margin-left: auto;
  	margin-right: auto;
}

#logo-with-slogan {
	margin-top: 100px;
}

#video {
	margin-top: 80px;	
}

#phone-content {
	position: absolute;
	left: 600px;
	overflow: hidden;
	bottom: 0px;
	text-align: center;
}

#phone {


	
}

#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;

	background-color: #fd6d35;
	

	background-image: url(../images/yoin/BG2.png), -moz-linear-gradient(top, rgba(255,255,255,0.35) 0%, rgba(255,255,255,0.15) 55%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background-image:  url(../images/yoin/BG2.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, 0.35)), color-stop(55%,rgba(255, 255, 255, 0.15)), color-stop(100%,rgba(255, 255, 255, 0)));

	border-top: 1px solid rgba(255, 255, 255, 0.4);

	-webkit-box-shadow: 0 -1px 30px 0 rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 -1px 30px 0 rgba(0, 0, 0, 0.8);
	box-shadow: 0 -1px 30px 0 rgba(0, 0, 0, 0.8);
	
}

#innerfooter {
	width: 100%;
	height: 30px;
	background-color: #fd6d35;
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0.45) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.45)), color-stop(50%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	-webkit-box-shadow: inset 0 -1px 0 0 darken(#fd6d35, 9%);
}

#footer-text {
	
}

ul.link-list {

	margin: 3px 0 0 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

ul.link-list.right {
	float: right;
}

ul.link-list li {

	list-style: none;
	float: left;
	margin-left: 50px;
	display: block;
}

#contactModal {

	color: white;
	text-align: center;
	background-color: #fd6d35;
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0.45) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.45)), color-stop(50%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
}

.invisible {

	visibility: hidden;
}


.content-title {

	margin-top: 28px;

}




h1.page-title {

	font-size: 38px;
	color:#e2845f;
	text-shadow: 0 2px 8px rgba(0,0,0,0.8);
	letter-spacing: 1pt;

}


p.page-subtitle {

	color:#f2f2f2;
	text-shadow: 0 1px 4px rgba(0,0,0,0.8);
	letter-spacing: 0.5pt;

}

h5.user-name {

	text-shadow: 0 1px 0px rgba(255, 255, 255, 0.65);
	font-size: 26px;
	display: inline;
	letter-spacing: 0.5pt;

}

h5.workstation {

	font-weight: normal;
	font-style: italic;
	font-size: 22px;
	text-shadow: 0 1px 0px rgba(255, 255, 255, 0.65);
	display: inline;
	letter-spacing: 0.5pt;
	


}

p.biography {

	text-shadow: 0 1px 0px rgba(255, 255, 255, 0.65);
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	margin-bottom: 10px;
}

.links a {

	display: inline;

	color:#e2845f;
	text-shadow: 0 1px 0px rgba(255, 255, 255, 0.65);
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;


}

 .picture {

	background-color: white;
	width: 100%;
	height: 210px;

	border: 5px solid white;

	-webkit-box-shadow: 0px 1px 10px 0 rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 1px 10px 0 rgba(0,0,0,0.8);
	box-shadow: 0px 1px 10px 0 rgba(0,0,0,0.8);

}



.person {

	padding-bottom: 20px;
	border-bottom: 1px solid;
	margin-top: 40px;

	border-bottom: 1px solid #b9b9b9;

	-webkit-box-shadow: 0px 1px 0px 0 white;
	-moz-box-shadow: 0px 1px 0px 0 white;
	box-shadow: 0px 1px 0px 0 white;
}

.person.last {

	border-bottom: none;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}


.team-member {

	margin-bottom: 10px; 
	margin-top:33px;

}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


