/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
	 Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
	 Shared Styles
----------------------------------------- */

* {
	margin: 0;
}

html, body {
	height: 100%;
}

body#landing {
  height: 100%;
  width: 100%;
	background: #000 url('../images/yoin/bg_city.jpg');
	background-size: cover;
  background-repeat:no-repeat;
  background-position:50% 50%;
}

body#error {
	background: #000 url('../images/yoin/bg_error.jpg');
}

body#inner {
	
	
	//background: #dcdcdc url('../images/yoin/innerbg.jpg') no-repeat left top;

	
	background-color: #DCDCDC;
	background-image: -moz-linear-gradient(top, transparent 0%, transparent 10%, rgba(0,0,0,0.05) 65%, rgba(0,0,0,0.1) 100%); 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(10%,transparent), color-stop(65%,rgba(0,0,0,0.05)), color-stop(100%,rgba(0,0,0,0.1)));  
	//background-repeat: no-repeat;
	//background-position: left top; 
	

}



body#half-inner {
	
	
	background: #dcdcdc url('../images/yoin/innerbg_02.jpg') no-repeat left top;

	/*
	background-color: #DCDCDC;
	background-image: url('../images/yoin/innerbg.jpg'), -moz-linear-gradient(top, transparent 0%, transparent 10%, rgba(0,0,0,0.05) 65%, rgba(0,0,0,0.1) 100%); 
	background-image: url('../images/yoin/innerbg.jpg'),  -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(10%,transparent), color-stop(65%,rgba(0,0,0,0.05)), color-stop(100%,rgba(0,0,0,0.1)));  
	background-repeat: no-repeat;
	background-position: left top; 
	*/

}






body#inner-blank {

	background-color: #DCDCDC;

}


a, a:hover, a:link, a:visited {
	color: #f2f2f2;
	font-weight: bold; 
	text-shadow: 0 -1px 0px rgba(0,0,0,0.4);
	
}
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px;
}

#header {


	background-color: #777;
	background-image: url(../images/yoin/BG2.png), -moz-linear-gradient(top, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.3) 60%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background-image: url(../images/yoin/BG2.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.6)), color-stop(60%,rgba(255,255,255,0.3)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */

	border-top: 1px solid rgba(255, 255, 255, 0.7);
	border-bottom: 1px solid black;

	-webkit-box-shadow: 0 -1px 30px 0 rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 -1px 30px 0 rgba(0, 0, 0, 0.8);
	box-shadow: 0 -1px 30px 0 rgba(0, 0, 0, 0.8);
}

#header-content {
	height: 70px;
}

#brand {

	padding-top: 8px;
	
}

.menu {
	font-size: 18px;
}

.menu > .menu-item {

	text-align: center;
	/*border-left: 1px solid #ce592b;*/
	/*line-height: 70px;*/
	height: 70px;

	-webkit-box-shadow: 1px 0px 0px 0 #949494, 2px 0px 0px 0 rgba(255, 255, 255, 0.4);
	-moz-box-shadow:1px 0px 0px 0 #949494, 2px 0px 0px 0 rgba(255, 255, 255, 0.4);
	box-shadow: 1px 0px 0px 0 #949494, 2px 0px 0px 0 rgba(255, 255, 255, 0.4);

}

.menu > .menu-item:first-child {

	-webkit-box-shadow:  -1px 0px 0px 0 rgba(255, 255, 255, 0.65), -2px 0px 0px 0 #949494, 1px 0px 0px 0 #949494, 2px 0px 0px 0 rgba(255, 255, 255, 0.4) ;
	-moz-box-shadow:  -1px 0px 0px 0 rgba(255, 255, 255, 0.65), -2px 0px 0px 0 #949494, 1px 0px 0px 0 #949494, 2px 0px 0px 0 rgba(255, 255, 255, 0.4);
	box-shadow:  -1px 0px 0px 0 rgba(255, 255, 255, 0.65), -2px 0px 0px 0 #949494, 1px 0px 0px 0 #949494, 2px 0px 0px 0 rgba(255, 255, 255, 0.4);
}

#content {
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

#logo-vid-button-content {
	/*margin-left: auto;
	margin-right: auto;*/
	text-align: center;
}

#logo-with-slogan {
	margin-top: 180px; /*With gettheapp 110px*/
}

#video {
	margin-top: 40px;	
}

#get-the-app {
	/*margin-top: 50px;*/
}

#phone-content {
  position: absolute;
  bottom: 0px;
	height: 550px;
	overflow: hidden;
	margin-top: 30px;
	margin-left: 200px;

	/*background-color: white;
	box-shadow: inset 3px 3px 8px 0px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: inset 3px 3px 8px 0 rgba(0, 0, 0, 0.6);
	-moz-box-shadow:inset inset 3px 3px 8px 0 rgba(0, 0, 0, 0.6);*/

}

#featured_ { 
	height: 550px !important;
	width: 500px;
}

#featured_ img {
	height: 560px;
	width: 450px;
	margin-left: 120px; /*70px*/
}



.footer {
	width: 100%;

	background-color: #111;
	
	/*background-image: url(../images/yoin/BG2.png), -moz-linear-gradient(top, rgba(255,255,255,0.35) 0%, rgba(255,255,255,0.15) 55%, rgba(255,255,255,0) 100%);
	background-image:  url(../images/yoin/BG2.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, 0.35)), color-stop(55%,rgba(255, 255, 255, 0.15)), color-stop(100%,rgba(255, 255, 255, 0)));*/

	/*border-top: 1px solid #909090;

	box-shadow: inset 0 -1px 15px 0 rgba(0, 0, 0, 0.9);
	-webkit-box-shadow: inset 0 -1px 15px 0 rgba(0, 0, 0, 0.9);
	-moz-box-shadow:inset 0 -1px 15px 0 rgba(0, 0, 0, 0.9);*/

	/*-webkit-box-shadow: 0 -5px 30px 0 rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 -5px 30px 0 rgba(0, 0, 0, 0.8);
	box-shadow: 0 -5px 30px 0 rgba(0, 0, 0, 0.8);*/
	
}

.footer-content {

	padding-top: 20px;
	padding-bottom: 10px;
	text-align: right;

}

.footer-content a {

  color: white;
  font-size: 14px;
  text-decoration: none;

}

.subfooter-content {

	text-align: right;
	padding-bottom: 20px;

}

.subfooter-content a {

  color: grey;
  font-size: 11px;
  text-decoration: none;

}



ul.link-list {

	margin: 3px 0 0 0;
	padding: 0;
	list-style: none;
	overflow: hidden;

}

ul.link-list.right {

	float: right;
}


ul.link-list li {

	list-style: none;
	float: left;
	margin-left: 50px;
	display: block;
}

.contactModal {

	color: white;
	text-align: center;
	background-color: #fd6d35;
	background-image: url(../images/yoin/BG2.png), -moz-linear-gradient(top, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.3) 60%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background-image: url(../images/yoin/BG2.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.6)), color-stop(60%,rgba(255,255,255,0.3)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */

	border-radius: 5px;


}

.invisible {

	visibility: hidden;
}


.content-title {

	//margin-top: 25px;
	padding-top: 25px;
	padding-bottom: 25px;

}


/*--------------TEXT----------------------*/



h1.page-title {

	font-size: 38px;
	color:#e2845f;
	text-shadow: 0 2px 8px rgba(0,0,0,0.8);
	letter-spacing: 1pt;

}

h1.page-title.half {

	margin-top: 35px;

}



p.page-subtitle {

	color:#f2f2f2;
	text-shadow: 0 1px 4px rgba(0,0,0,0.8);
	letter-spacing: 0.5pt;
	font-size: 14px;


}

h5.user-name {

	text-shadow: 0 1px 0px rgba(255, 255, 255, 0.65);
	font-size: 26px;
	display: inline;
	letter-spacing: 0.5pt;

}

h5.workstation {

	font-weight: normal;
	font-style: italic;
	font-size: 22px;
	text-shadow: 0 1px 0px rgba(255, 255, 255, 0.65);
	display: inline;
	letter-spacing: 0.5pt;
	


}



h5.faq-subtitle {

	font-weight: normal;
	font-style: italic;
	font-size: 28px;
	color:#7e7e7e;
	text-shadow: 0 1px 0px rgba(255, 255, 255, 0.65);
	letter-spacing: 0.5pt;
	margin-top: 40px;
	text-align: center;


}


h5.faq-subtitle.primero {

	margin-top: 55px;


}


p.biography {

	text-shadow: 0 1px 0px rgba(255, 255, 255, 0.65);
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	margin-bottom: 10px;
}

p.biography-bold {

	text-shadow: 0 1px 0px rgba(255, 255, 255, 0.65);
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}



p.biography.centered {

	text-align: center;
}



p.address {

	color: #f2f2f2;
	font-size: 16px;
	font-weight: bold; 
	text-shadow: 0 -1px 0px rgba(0,0,0,0.4);
	text-align: center;
	line-height: 22px;
	margin-top: 30px;
	margin-bottom: 0px;

}




.links a {

	display: inline;

	color:#e2845f;
	text-shadow: 0 1px 0px rgba(255, 255, 255, 0.65);
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;


}

.big-links a {

	color:#e2845f;
  	text-decoration: none;
  	text-shadow: 0 1px 0px rgba(255, 255, 255, 0.65);
	font-style: italic;


	font-size: 18px;
	line-height: 20px;
	font-weight: bold;


}

.mail-text {

	display: inline;

	color:#e2845f;
	text-shadow: 0 1px 0px rgba(255, 255, 255, 0.65);
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	text-align: center;



}



.footer-text {

	color:#e2845f;
	font-size: 16px;
	text-shadow: 0 -1px 0px rgba(0,0,0,0.4);
	//margin-bottom: 0px;
	//display: inline;

}




.footer-text.is-bold {

	font-weight: bold;

}


.coming-soon {

	
	text-shadow: 0 1px 0px rgba(255, 255, 255, 0.65);
	color:black;
	font-size: 18px;
	display: inline;
	letter-spacing: 0.5pt;
	//margin-bottom: 5px;
	

}


.under-construction {

	
	font-family: 'Yellowtail', cursive;

	margin-top: 30%;
	text-align: center;

	font-size: 80px;
	
	text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.4), 0 1px 0px rgba(255, 255, 255, 0.2);
	font-style: italic;
	font-weight: bold;


}



/*----------------------------------------------------------*/













.faq-subtitle-container {


		border-bottom: 1px solid #b9b9b9;

		-webkit-box-shadow: 0px 1px 0px 0 white;
		-moz-box-shadow: 0px 1px 0px 0 white;
		box-shadow: 0px 1px 0px 0 white;


}



.location-picture {
  	
  	border: 5px solid white;
	-webkit-box-shadow: 0px 1px 10px 0 rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 1px 10px 0 rgba(0,0,0,0.8);
	box-shadow: 0px 1px 10px 0 rgba(0,0,0,0.8);
}




.picture {

	background-color: white;
	max-width: 100%;
  height: auto;

	border: 5px solid white;

	-webkit-box-shadow: 0px 1px 10px 0 rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 1px 10px 0 rgba(0,0,0,0.8);
	box-shadow: 0px 1px 10px 0 rgba(0,0,0,0.8);

}



.person {

	padding-bottom: 20px;
	border-bottom: 1px solid;
	margin-top: 40px;

	border-bottom: 1px solid #b9b9b9;

	-webkit-box-shadow: 0px 1px 0px 0 white;
	-moz-box-shadow: 0px 1px 0px 0 white;
	box-shadow: 0px 1px 0px 0 white;
}




.person.last {

	border-bottom: none;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}



.faq {

	padding-bottom: 30px;
	margin-top: 15px;

	
}


.faq.primero {

	margin-top: 15px;

	
}


.question {

	margin-bottom: 10px; 
	margin-top:33px;
	text-align: center;

}




.team-member {

	margin-bottom: 10px; 
	margin-top:33px;

}


.reveal-modal{


	border-top: 1px solid rgba(255, 255, 255, 0.7);	
	-webkit-box-shadow: 0px 5px 40px 0 rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 5px 40px 0 rgba(0,0,0,0.8);
	box-shadow: 0px 5px 40px 0 rgba(0,0,0,0.8);


}

.reveal-modal .close-reveal-modal {

	color:white;

}

.brand {

	margin-left: 42%;
}


.footer-links {

	width: 38%;
	text-align: center;

}

.footer-item {
  text-align: right;
}




.store-icon {

	margin-top: 3%;
}


.danger {


	margin-top:45%;
	text-align: center;

}



.contact-item {

  font-size: 18px;
  font-style: italic;
  margin-bottom: 50px;

}

.contact-item a {

  color:#e2845f;
  text-decoration: none;
  text-shadow: 0 1px 0px rgba(255, 255, 255, 0.65);

}


.breadcrumb {

  margin-top: 20px;
  margin-bottom: 20px;

}



/*.breadcrumb a {

  color:#e2845f;
  text-decoration: none;
  text-shadow: 0px 0px 0px;

}*/


.pattern-title {

	background-image: url('../images/yoin/crossed_stripes.png');  
	background-repeat: repeat;

}






.background-pattern {


/*
background: -moz-linear-gradient(top,  rgba(255,255,255,0.4) 0%, rgba(247,247,247,0.25) 30%, rgba(229,229,229,0) 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.4)), color-stop(30%,rgba(247,247,247,0.25)), color-stop(100%,rgba(229,229,229,0))); 
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.4) 0%,rgba(247,247,247,0.25) 30%,rgba(229,229,229,0) 100%); 
background: -o-linear-gradient(top,  rgba(255,255,255,0.4) 0%,rgba(247,247,247,0.25) 30%,rgba(229,229,229,0) 100%); 
background: -ms-linear-gradient(top,  rgba(255,255,255,0.4) 0%,rgba(247,247,247,0.25) 30%,rgba(229,229,229,0) 100%); 
background: linear-gradient(to bottom,  rgba(255,255,255,0.4) 0%,rgba(247,247,247,0.25) 30%,rgba(229,229,229,0) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ffffff', endColorstr='#00e5e5e5',GradientType=0 ); 
*/

background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.45) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.45))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#73000000',GradientType=0 ); /* IE6-9 */


}



.expand {


	width: 100%;
	padding: 0px;
	margin: 0px;


}


.fondo {


	background-color: #DCDCDC;
	background-image: -moz-linear-gradient(top, transparent 0%, transparent 10%, rgba(0,0,0,0.05) 65%, rgba(0,0,0,0.1) 100%); 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(10%,transparent), color-stop(65%,rgba(0,0,0,0.05)), color-stop(100%,rgba(0,0,0,0.1)));  
	//background-repeat: no-repeat;
	//background-position: left top; 
	
}



/* -----------------------------------------
	 Legal content
----------------------------------------- */

.legal-content, .legal-date {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.legal-content  a {
  color: black;
  text-shadow: none;
}


/* -----------------------------------------
	 Page Name 2
----------------------------------------- */


